.tabelaContent{
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 50px;
}

.tCard{
    width: 100%;
    max-height: 400px;
    height: 100%;
    background-color: #cbd5e1;
    color: #0f172a;
    text-align: center;
    box-shadow: 4px 5px 5px #9ca3af80;
}

.cardTitulo{
    background-color: #fb923c;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.cardItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.cardList{
    padding: 0 10px;
}

.tIcons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}
.tIcons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.cardEdit{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}
.cardEditInputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cardEditInputs input{
    text-align: center;
}
.cardEditButtons{
    display: flex;
    gap: 5px;
}
.cardEditButtons button{
    border: none;
    background-color: #fb923c;
    color: #ffffff;
    font-weight: 700;
    padding: 2px 10px;
}

@media (max-width:991px){
    .tabelaContent{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:700px) {
    .tabelaContent{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px) {
    .tabelaContent{
        grid-template-columns: repeat(1, 1fr);
    }
}